.cart-item{
  position: relative;
  height: 30px;
  vertical-align: middle;
  margin-bottom: 10px;

}
  span{
    position: absolute;
  }

  input{
    width: 30px;
    height: 25px;
    margin-left: 268px;
  }

  input[type='checkbox']{
    left: -100px;
  }
  .title{
    font-weight: normal;
  }
  .price{
    left: 424px;
  }
  .item-total{
    left: 505px;
  }
  .order-error{
    color: red;
    left : 324px;
  }
  .total-error{
    margin-left: 10px;
    color: red;
  }
  .total-checkout{
    margin-left: 10px;
    color: green;
  }
  button{
    float: right;
    width : 55px;
    padding: 0px;
  }
  .change-quantity{
    position: absolute;    
    background: url('http://images.clipartpanda.com/up-clip-art-up-clip-art-5.jpg') no-repeat;
    background-size: 25px;
    width: 25px ;
    height: 20px;
    top: 2px;
  }
  #decrease{
    left: 242px;
    transform: rotate(180deg);
  }
  #increase{
    left: 298px;  
  }